<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- 프로젝트 관리 사이트 코드 -->
    <script
        src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>
    <title>프로젝트 관리 사이트</title>
    <link rel="canonical" href="https://codepen.io/EvyatarDa/pen/waKXMd">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>
    <link rel="stylesheet" href="../static/pro_admin_views.css"> <!-- main_views -->
    <script>
        window.console = window.console || function (t) { };
    </script>
</head>

<body translate="no">
    <header>
        <span>

        </span>
    </header>

    <div class="container gray highlightTextIn">
        <a alt="HOME" href="/">HOME</a>
        <a alt="PROJECT" href="/pro_admin">PROJECT</a>
    </div>

    <button class="button">
        <span class="default">실행</span>
        <span class="success">성공</span>
        <div class="left"></div>
        <div class="right"></div>
    </button>

    <!-- 게시판 부분 -->
    <table>
        <colgroup>
            <col class="select">
            <col class="no">
            <col class="title">
            <col class="writer">
            <col class="date">
        </colgroup>
        <thead>
            <tr>
                <th><input class="check all" type="checkbox"></th>
                <th>번호</th>
                <th>프로젝트 이름</th>
                <th>작성자</th>
                <th>날짜 / 시간</th>
                <th>성공 여부</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="check" type="checkbox"></td>
                <td>1</td>
                <td><a href="/test">프로젝트 - 1</a></td>
                <td>김철수</td>
                <td>2019.10.14 13:20</td>
                <td>O</td>
            </tr>
            <tr>
                <td><input class="check" type="checkbox"></td>
                <td>2</td>
                <td><a href="/test">프로젝트 - 2</a></td>
                <td>최하나</td>
                <td>2019.10.15 19:00</td>
                <td>O</td>
            </tr>
            <tr>
                <td><input class="check" type="checkbox"></td>
                <td>3</td>
                <td><a href="/test">프로젝트 - 3</a></td>
                <td>송지은</td>
                <td>2019.10.16 12:00</td>
                <td>X</td>
            </tr>
        </tbody>
    </table>
    <div class="page-box">
        <a class="btn" href="#">&lt;&lt;</a>
        <a class="btn" href="#">&lt;</a>

        <!--  숫자 버튼  -->
        <a class="btn number" href="#">1</a>
        <a class="btn number" href="#">2</a>
        <a class="btn number on" href="#">3</a>
        <a class="btn number" href="#">4</a>
        <a class="btn number" href="#">5</a>

        <a class="btn" href="#">&gt;</a>
        <a class="btn" href="#">&gt;&gt;</a>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script id="rendered-js">
        $('.check.all').on('change', function () {
            $('.check').prop('checked', $(this).prop('checked'));
        });

        $(document).on('click', '.page-box .btn.number', function () {
            $('.page-box .btn.number').removeClass('on');
            $(this).addClass('on');
            return false;
        });
        //# sourceURL=pen.js
    </script>
    

    <!-- 버튼 코드 -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js'></script>
    <script id="rendered-js">
        document.querySelectorAll('.button').forEach(button => {

            let getVar = variable => getComputedStyle(button).getPropertyValue(variable);

            button.addEventListener('click', e => {

                if (!button.classList.contains('active')) {

                    button.classList.add('active');

                    gsap.to(button, {
                        keyframes: [{
                            '--left-wing-first-x': 50,
                            '--left-wing-first-y': 100,
                            '--right-wing-second-x': 50,
                            '--right-wing-second-y': 100,
                            duration: .2,
                            onComplete() {
                                gsap.set(button, {
                                    '--left-wing-first-y': 0,
                                    '--left-wing-second-x': 40,
                                    '--left-wing-second-y': 100,
                                    '--left-wing-third-x': 0,
                                    '--left-wing-third-y': 100,
                                    '--left-body-third-x': 40,
                                    '--right-wing-first-x': 50,
                                    '--right-wing-first-y': 0,
                                    '--right-wing-second-x': 60,
                                    '--right-wing-second-y': 100,
                                    '--right-wing-third-x': 100,
                                    '--right-wing-third-y': 100,
                                    '--right-body-third-x': 60
                                });

                            }
                        },
                        {
                            '--left-wing-third-x': 20,
                            '--left-wing-third-y': 90,
                            '--left-wing-second-y': 90,
                            '--left-body-third-y': 90,
                            '--right-wing-third-x': 80,
                            '--right-wing-third-y': 90,
                            '--right-body-third-y': 90,
                            '--right-wing-second-y': 90,
                            duration: .2
                        },
                        {
                            '--rotate': 50,
                            '--left-wing-third-y': 95,
                            '--left-wing-third-x': 27,
                            '--right-body-third-x': 45,
                            '--right-wing-second-x': 45,
                            '--right-wing-third-x': 60,
                            '--right-wing-third-y': 83,
                            duration: .25
                        },
                        {
                            '--rotate': 55,
                            '--plane-x': -8,
                            '--plane-y': 24,
                            duration: .2
                        },
                        {
                            '--rotate': 40,
                            '--plane-x': 45,
                            '--plane-y': -180,
                            '--plane-opacity': 0,
                            duration: .3,
                            onComplete() {
                                setTimeout(() => {
                                    button.removeAttribute('style');
                                    gsap.fromTo(button, {
                                        opacity: 0,
                                        y: -8
                                    },
                                        {
                                            opacity: 1,
                                            y: 0,
                                            clearProps: true,
                                            duration: .3,
                                            onComplete() {
                                                button.classList.remove('active');
                                            }
                                        });

                                }, 2000);
                            }
                        }]
                    });
                    gsap.to(button, {
                        keyframes: [{
                            '--text-opacity': 0,
                            '--border-radius': 0,
                            '--left-wing-background': getVar('--primary-darkest'),
                            '--right-wing-background': getVar('--primary-darkest'),
                            duration: .1
                        },
                        {
                            '--left-wing-background': getVar('--primary'),
                            '--right-wing-background': getVar('--primary'),
                            duration: .1
                        },
                        {
                            '--left-body-background': getVar('--primary-dark'),
                            '--right-body-background': getVar('--primary-darkest'),
                            duration: .4
                        },
                        {
                            '--success-opacity': 1,
                            '--success-scale': 1,
                            duration: .25,
                            delay: .25
                        }]
                    });
                }
            });
        });
        //# sourceURL=pen.js
    </script>

    <script id="rendered-js">
    </script>
    <script>
        window.console = window.console || function (t) { };
    </script>


</body>

</html>